@model GhostV2.Models.TesteModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TesteModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NR_SEQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_SEQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DT_PROCESSAMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_PROCESSAMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CD_CPF_CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_CPF_CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SG_TP_PESSOA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SG_TP_PESSOA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CD_CPF_CNPJ_PESSOA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_CPF_CNPJ_PESSOA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PF_PJ_PESSOA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PF_PJ_PESSOA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CD_SOLVERE_OPER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_SOLVERE_OPER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_PAPEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_PAPEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_PESSOA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_PESSOA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NR_DDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_DDD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NR_TELEFONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_TELEFONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NR_DDD_CELULAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_DDD_CELULAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NR_CELULAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_CELULAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_EMAIL_SOCIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_EMAIL_SOCIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_CONTATO_SOCIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_CONTATO_SOCIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_GRUPO_ECONOMICO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_GRUPO_ECONOMICO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_CONJUGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_CONJUGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_LOGRADOURO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_LOGRADOURO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NR_LOGRADOURO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_LOGRADOURO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_COMPLEMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_COMPLEMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_BAIRRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_BAIRRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_CIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_CIDADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SG_UF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SG_UF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_PAIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_PAIS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NR_CARGA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
