@using GridMvc.Html
@using GridMvc.Sorting
@model IEnumerable<GhostV2.Models.GerenciamentoViewModel>

<!DOCTYPE html>

<html>

@{
    ViewBag.Title = "Gerenciamento de Clientes";
}

<center><h2>Gerenciamento de Clientes</h2></center>

@using (Html.BeginForm("Index", "GerenciamentoViewModel"))
{
    <div class="jumbotronBusca container">
        <center>
            <table border="0">
                <tr>
                    <th class="busca">
                        <b>Cliente:&nbsp;&nbsp;&nbsp;</b>
                    </th>
                    <th class="busca">
                        <input type="text" name="cliente" size="40"  style="text-transform:uppercase"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                    <th class="busca">
                        <b>Cpf/Cnpj:&nbsp;&nbsp;&nbsp;</b>
                    </th>
                    <th class="busca">
                        <input type="text" name="cpfcnpj"  style="text-transform:uppercase"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                    <th class="busca">
                        <b>Número do contrato:&nbsp;&nbsp;&nbsp;</b>
                    </th>
                    <th class="busca">
                        <input type="text" name="numeroContrato" size="23"  style="text-transform:uppercase"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                </tr>
                <tr>
                    <th>
                    </th>
                    <th class="busca" colspan="3">
                        <b>Pessoa Jurídica?</b>
                        <input type="checkbox" name="pessoaJuridica1" />&nbsp;<b>Pessoa Física?</b>
                        <input type="checkbox" name="pessoaJuridica2" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <b>Incluir Grupo?&nbsp;&nbsp;&nbsp;</b>
                        <input type="checkbox" name="incluirGrupo" />&nbsp;<a class="modal2-link" style="border:double" data-toggle="modal" data-target="#example-modal" id="example-modal--label" href="#"><b>?</b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                    <th class="busca">
                        <b>Número do processo:&nbsp;&nbsp;&nbsp;</b>
                    </th>
                    <th class="busca">
                        <input type="text" name="numeroProcesso" size="23"  style="text-transform:uppercase"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                </tr>
                <tr>
                    <th class="busca">
                        <b>Grupo Econômico:&nbsp;&nbsp;&nbsp;</b>
                    </th>
                    <th class="busca">
                        <input type="text" name="grupoEconomico" size="40"  style="text-transform:uppercase"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                    <th class="busca">
                        <b>Carteira:&nbsp;&nbsp;&nbsp;</b>
                    </th>
                    <th class="busca">
                        <input type="text" name="carteira" size="14"  style="text-transform:uppercase"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                    <th class="busca">
                        <b>Código Op Solvere:&nbsp;&nbsp;&nbsp;</b>
                    </th>
                    <th class="busca">
                        <input type="text" name="codOpSolvere" size="23"  style="text-transform:uppercase"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                </tr>
                <tr>
                    <th class="busca">
                        <b>Gestor Solvere:&nbsp;&nbsp;&nbsp;</b>
                    </th>
                    <th class="busca">
                        <input type="text" name="gestorSolvere"  style="text-transform:uppercase"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                    <th class="busca">
                        <b>Escritório:&nbsp;&nbsp;&nbsp;</b>
                    </th>
                    <th class="busca">
                        <input type="text" name="escritorio"  style="text-transform:uppercase"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                    <th class="busca">
                    <td align="right">
                        <input class="btn btn-default" type="submit" name="busca" value="Pesquisar" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                    </td>
                    </th>
                </tr>
            </table>
        </center>
</div>
}


<div class="modal fade" role="dialog" aria-labelledby="example-modal--label" aria-hidden="true" id="example-modal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <header class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fecha Janela</span></button>
                <h4 class="modal-title" id="mySmallModalLabel"><b>Incluir Grupo</b></h4><i>Selecione este checkbox para pesquisar todos os clientes de um determinado grupo.</i>
            </header>
            <div class="modal-body">
                <p>&nbsp;Para você ter o resultado correspondente, deverá somente colocar dados em um dos ítens de todo o formulário como por exemplo o Cpf/Cnpj ou o Cliente e depois clicar aqui no checkbox [Incluir Grupo] e [Pesquisar], &nbsp;caso contrário o &nbsp;excesso de informações irão atrapalhar para que a pesquisa de grupos traga todos componen- tes daquele grupo.</p>
            </div>
        </div>
    </div>
</div>

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <!-- Este css dá conflito e faz as janelinhas de filtro do grid ficarem desalinhadas com o símbolo de filtro-->
    <!-- <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" /> -->
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <!-- <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"> </script> -->
    <script src="@Url.Content("~/Scripts/gridmvc.lang.ptbr.js")"></script>
</head>


<body>
    <center>
        <hr class="container" />
        <div id="supergrid" style="width: 100%;">

            @if (Model.Count() > 0)
            {
                @Html.Grid(Model).SetLanguage("ptbr").Columns(columns =>
       {
           columns.Add(c => c.IC_STATUS_PROCESSUAL).Titled("<font size=2>Status <br>Processual</font>").Filterable(true);
           columns.Add(c => c.IC_STATUS_OPERACIONAL).Titled("<font size=2>Status <br>Operacional</font>").Filterable(true);
           columns.Add(c => c.NR_PROCESSO).Titled("<font size=2><br>Processo</font>").Filterable(true);
           columns.Add(c => c.CD_SOLVERE_OPER).Titled("<font size=2>Cód. Op. <br>Solvere</font>").Filterable(true);
           columns.Add(c => c.NR_CONTRATO).Titled("<font size=2><br>Contrato</font>").Filterable(true);
           columns.Add(c => c.NM_PRODUTO).Titled("<font size=2><br>Produto</font>").Filterable(true);
           columns.Add(c => c.DT_CONTRATO).Titled("<font size=2>Data <br>Contrato</font>"); //.Filterable(true).Format("{0:dd/MM/yyyy}");
           columns.Add(c => c.DT_VENC_DESDE).Titled("<font size=2>Data Vencimento<br>Desde</font>"); //.Filterable(true).Format("{0:dd/MM/yyyy}");
           columns.Add(c => c.VL_SALDO_CONTABIL_DEVEDOR).Titled("<font size=2>Saldo Devedor<br>Contábil</font>").Filterable(true);
           columns.Add(c => c.VL_SALDO_GERENCIAL).Titled("<font size=2>Saldo <br>Gerencial</font>").Filterable(true);
           columns.Add(c => c.NM_PESSOA).Titled("<font size=2>Nome do<br>Cliente</font>").Filterable(true);
           columns.Add(c => c.CD_CARTEIRA).Titled("<font size=2><br>Carteira</font>").Filterable(true);
           columns.Add().Titled("<font size=2><br>Somar?</font>")
               .Encoded(false)
               .Sanitized(false)
               .RenderValueAs(o => Html.CheckBox("checkSoma", false));
           columns.Add()
               .Encoded(false)
               .Sanitized(false)
               .RenderValueAs(d => Html.ActionLink("Detalhes", "SuperDetalhes", new { cpfcnpj = d.CD_CPF_CNPJ }, new { @class = "modal-link" }));


           //columns.Add(c => c.CD_CPF_CNPJ).Titled("CPF CNPJ");
           //columns.Add(c => c.NM_GRUPO_ECONOMICO).Titled("GRUPO ECONOMICO");


       }).WithPaging(10).Sortable(true).WithMultipleFilters()
            }
            else
            {
                <div>Nenhum item encontrado</div>
                    <div>Preencha os campos acima com o que está procurando e clique em [Pesquisar], caso queira trazer todos os registros clique em [Pesquisar] com os campos em branco.</div>
            }

            <center>
                <div id="resultados" hidden>
                    <table border="0">
                        <tr>
                            <td>
                                <div id="soma1Total">
                                </div>
                            </td>

                            <td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>

                            <td>
                                <div id="soma2Total">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </center>

        </div>
    </center>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModal2Label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModal2Label">
                        Detalhes do Cliente
                    </h4>
                </div>
                <div class="modal-body">
                    Carregando...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Fechar
                    </button>
                    @*<button type="submit" value="search" class="btn btn-primary">
                            Continuar
                        </button>*@
                </div>
            </div>
        </div>
    </div>


    <script src="@Url.Content("~/Scripts/JavaGhost.js")"></script>
    <script>
    //Centraliza o chackbx da coluna "SOMAR?".
    try {
        $("tr.grid-row").each(function () {
            var tr = $(this);
            var rows = $(tr).children();
            $(rows[12].setAttribute('align','center'));
        });
    }
    catch (e) {
        alert(e);
    }
    </script>

</body>

</html>